# Each directory is assumed to be a subdirectory path
# of the current user's profile directory.

PHOTOMGMT_SOURCE_DIR=\Photos\Uploads
PHOTOMGMT_DEST_DIR=\Photos\Archive
PHOTOMGMT_ERROR_DIR=\Photos\Unsorted