atom-text-editor {
	background-color: #16181a;
	color: #c7d0d9;

	.invisible-character,
	.indent-guide {
		color: lighten(#16181a, 10%);
	}

	.gutter {
		background-color: darken(#16181a, 4%);
	}

	.gutter .line-number {
		color: lighten(#16181a, 25%);
	}

	.gutter .line-number.folded,
	.gutter .line-number:after,
	.fold-marker:after {
		color: #ef746f;
	}

	.cursor-line {
		background-color: lighten(#16181a, 4%);
	}

	.cursor {
		border-color: #f8f8f0;
	}

	.selection .region {
		background-color: #b3cc5755;
		color: #ffffff;
	}

	.line-number.cursor-line-no-selection {
		background-color: lighten(#16181a, 4%);
		color: lighten(#16181a, 30%);
	}

	.wrap-guide {
		background-color: lighten(#16181a, 10%); 
	}
}

.bracket-matcher {
	background-color: #ef746f;
	opacity: 0.4;
	border:1px solid #c7d0d9;
}

.syntax--comment {
	color: #424c55;
}

.syntax--entity {
	color: #ffbe40;
}

.syntax--entity.syntax--name.syntax--type.syntax--class {
	color: #c7d0d9;
}

.syntax--keyword {
	color: #3fb4c5;
}

.syntax--storage.syntax--type {
	color: #b3cc57;
}

.syntax--storage.syntax--modifier {
	color: #ef746f;
}

.syntax--constant {
	color: #ef746f;

	&.syntax--numeric,
	&.syntax--boolean {
		color: #c78feb;
	}
}

.syntax--variable {
	color: #c7d0d9;
}

.syntax--delimiter, .syntax--brace {
	color: #c7d0d9;
}

.syntax--delimiter.syntax--period {
	color: #ef746f;
}

.syntax--invalid.syntax--deprecated {
	text-decoration: underline;
	color: #dc322f;
}

.syntax--invalid.syntax--illegal {
	color: #dc322f;
}

.syntax--string {
	color: #c78feb;

	.syntax--constant.syntax--character.syntax--escape {
		color: #dc322f;
	}

	&.syntax--regexp {
		color: #c78feb;
	}
}

.syntax--source.syntax--ruby.syntax--embedded,
.syntax--string.syntax--regexp.syntax--arbitrary-repitition {
	color: #dc322f;
}

.syntax--keyword.syntax--other.syntax--phpdoc {
	color: #637280;
}

.syntax--entity.syntax--name.syntax--tag {
	color: #b3cc57;
}

.syntax--entity.syntax--other.syntax--attribute-name {
	color: #ef746f;
}

.syntax--new {
	color: #b3cc57;
}

.syntax--support.syntax--function {
	color: #f86f50;
}

.syntax--function-call {
	color: #ffbe40;
}

.syntax--punctuation {
	color: #c7d0d9;
}

.syntax--class {
	color: #ef746f;
}

.syntax--operator {
	color: #3fb4c5;
}

.syntax--comment .syntax--class,
.syntax--comment .syntax--keyword,
.syntax--comment .syntax--punctuation {
	color: #424c55;
}

.syntax--closure {
	color: #c7d0d9;
}

atom-workspace {
	background-color: #16181a;
	color: #c7d0d9;
}

// Set a consistent font for the main editor UI elements

.command-palette,
.command-palette atom-text-editor,
.command-palette .error-message,
.config-menu,
.encoding-selector,
.find-and-replace,
.fuzzy-finder,
.fuzzy-finder atom-text-editor,
.fuzzy-finder .error-message,
.grammar-selector,
.panel-heading,
.project-find,
.release-notes,
.results-view,
.setting-description,
.settings-view .alert,
.settings-view .text,
.status-bar,
.tab-bar .tab .title,
.tree-view,
.font-size-regular .tree-view .list-item {
  font-family: "Fira Code";
  font-weight: 600;
  font-size: 13px;
}

// Make items in the Command Palette list higher if they don't fit horizontally

.command-palette .list-group li {
  white-space: normal;
}

// Ensure settings dropdown options are coloured correctly

.settings-view .form-control option {
  color: inherit;
}

// Make tabs wider and use the standard cursor

.tab-bar .tab {
  cursor: auto;
  max-width: 14rem;
}

// Tweak the sidebar folder list

.list-tree .list-item {
  line-height: 2.8em !important;
}

// Consistent spacing between tree view icons and their names

.tree-view .name.icon::before {
  margin-right: 1rem !important;
}

// Customise the colour of the cursor

atom-text-editor .cursor {
  border-color: #009688;
}

// Fix the broken positioning of icons on Windows

.platform-win32 atom-workspace.theme-atom-material-ui .tab-bar .tab .title:before {
  top: auto;
}

// Add some padding to the main text area

atom-text-editor {
  padding: 5px;
}

// Make the main text area, line number gutter, empty main areas, tree view and scrollbar background darker

atom-text-editor:not(.mini),
atom-pane-container atom-pane .item-views,
.panel-contrast .tree-view,
.panel-left ::-webkit-scrollbar-track,
atom-text-editor .gutter {
  background-color: #000 !important;
}

// Make the toolbar, footer, tab bar and project header background solid black

atom-panel.footer status-bar,
.tinted-tab-bar .active .tab-bar,
.panel-contrast .tabBlender {
  background-color: #000 !important;
}

// Improve the display of the status bar

atom-panel.footer status-bar {
  height: 32px;
  line-height: 32px;
}

// Improve the display of the Tree View items

.list-group li:not(.list-nested-item).selected:not(.header)::before,
.list-tree li:not(.list-nested-item).selected:not(.header)::before,
.list-group li.list-nested-item.selected > .list-item:not(.header)::before,
.list-tree li.list-nested-item.selected > .list-item:not(.header)::before,
.list-group .selected::before,
.list-tree .selected::before {
  height: 36px;
}

// Tweak the alignment of the Open Files list in the Tree View

.tree-view .list-tree.has-collapsable-children .list-nested-item > .list-tree > li {
  padding-left: 8px;
}

// Remove panel borders

.tool-panel.bottom,
atom-panel.bottom,
.tool-panel.footer,
atom-panel.footer,
.tool-panel.panel-bottom,
atom-panel.panel-bottom,
.tool-panel.panel-footer,
atom-panel.panel-footer {
  border: none !important;
}

// Hide panel toggle buttons

.atom-dock-toggle-button {
  display: none !important
}

// Improve the display of selected content

atom-text-editor .find-result .region,
atom-text-editor .selection .region {
  background-color: #222830;
}

// Improve the display of Atom IDE highlights

atom-text-editor .region.datatip-highlight-region,
atom-text-editor .region.datatip-highlight-region.datatip-highlight-region-active {
  animation: none;
  background: #00302c;
  background-size: auto;
}

// Make completed task lines in Markdown and TodoTXT consistent

atom-text-editor .syntax--md.syntax--completed,
atom-text-editor .syntax--todotxt.syntax--comment {
  color: #666;
  font-style: normal;
}

// Improve the display of code comments

.syntax--comment,
.syntax--comment .syntax--class,
.syntax--comment .syntax--keyword,
.syntax--comment .syntax--punctuation {
  color: #627288;
}

// Improve the display of headings in Markdown files

.syntax--text .syntax--heading,
.syntax--md .syntax--heading,
.syntax--text .syntax--heading .syntax--punctuation,
.syntax--md .syntax--heading .syntax--punctuation {
  color: #3fb4c5;
}

// Hide the GitHub section in the status bar

.status-bar .github-StatusBarTile {
  display: none;
}