# EditorConfig - https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 100

[*.{md,json,jsonc,toml,yml,ghostty}]
insert_final_newline = false

[{.editorconfig,.gitignore,.gitmodules,justfile}]
insert_final_newline = false

[{*.sh,*.bash}]
insert_final_newline = false
trim_trailing_whitespace = false