;
;
; Service Timer: Runs on user login
;   - Update content here, then copy to "/etc/systemd/system"
;   - Then add it to the system's scheduler:
;     sudo systemctl daemon-reload && sudo systemctl enable --now backup-linux-user.timer
;
;
[Unit]
Description=Run backup-linux-user service daily at 7pm

[Timer]
OnCalendar=*-*-* 19:00:00
Persistent=true

[Install]
WantedBy=timers.target
