/* Kanban boards */

/* Columns */

.kanban-plugin__lane-wrapper {
  background-color: transparent;
  border-radius: var(--input-radius);
  border: 1px solid var(--color-base-40);
}

/* Make column headers larger */
.kanban-plugin__lane-title-text,
.kanban-plugin__lane-title-text .kanban-plugin__markdown-preview-view {
  font-size: 18px;
}

.kanban-plugin__lane-grip>svg {
  height: 18px;
}

/* Desktop: Board columns */
body:not(.is-mobile) .kanban-plugin__horizontal .kanban-plugin__lane-wrapper:not(.collapse-horizontal) {
  width: 35vw !important;
  min-width: 450px;
  max-width: 700px;
  max-height: 85vh;
}

/* Desktop: Make first Board column narrower, generally the "Inbox" column */
body:not(.is-mobile) .kanban-plugin__horizontal .kanban-plugin__lane-wrapper:not(.collapse-horizontal):first-child {
  width: 15vw !important;
  min-width: 350px;
}

/* Mobile: Board columns */
body.is-mobile .kanban-plugin__horizontal .kanban-plugin__lane-wrapper:not(.collapse-horizontal) {
  width: 85vw !important;
  min-width: 350px;
  max-width: 450px;
  max-height: 70vh;
}

/* Mobile: Make first Board column narrower, generally the "Inbox" column */
body.is-mobile .kanban-plugin__lane-wrapper:not(.collapse-horizontal):first-child {
  width: 60vw !important;
  min-width: 250px;
}

.kanban-plugin__lane-header-wrapper {
  border-bottom: 0;
  padding: 3px 5px;
}

.kanban-plugin__grow-wrap>textarea {
  height: auto;
}

.kanban-plugin__markdown-preview-view>div>* {
  overflow-x: visible;
}

body .kanban-plugin__lane-items,
body .kanban-plugin__item-button-wrapper {
  background-color: transparent;
  border: 0 none;
}

/* Cards */

.kanban-plugin__item-button-wrapper {
  border: 0 none;
  padding: 0;
}

/* Add a card button */

.kanban-plugin__item-button-wrapper {
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

.kanban-plugin__item-button-wrapper button.kanban-plugin__new-item-button {
  color: var(--text-accent);
  cursor: pointer;
  border: 0 none;
  padding: 1cqmin0px 0;
}

.kanban-plugin__item-button-wrapper .kanban-plugin__new-item-button:hover {
  color: #fff;
}

.kanban-plugin__item-button-plus {
  display: none;
}

.kanban-plugin__item-wrapper .kanban-plugin__item,
.kanban-plugin__lane-wrapper .kanban-plugin__lane-header-wrapper,
.kanban-plugin__lane-wrapper .kanban-plugin__item-button-wrapper {
  border: 0 none;
}

.kanban-plugin__item-wrapper .kanban-plugin__item,
.kanban-plugin__item-wrapper .kanban-plugin__item-content-wrapper,
.kanban-plugin__item-title-wrapper {
  background: var(--color-base-05) !important;
  border: 0 none;
}

.kanban-plugin__item-wrapper .kanban-plugin__item {
  border: 2px solid var(--color-base-05);
}

.kanban-plugin__item-wrapper .kanban-plugin__item-title-wrapper,
.kanban-plugin__item-title p,
.kanban-plugin .markdown-source-view.mod-cm6 {
  font-size: 16px !important;
}

/* Increase Kanban card spacing on mobile to make it easier to move cards around */
body.is-mobile .kanban-plugin__item-wrapper .kanban-plugin__item-title-wrapper {
  padding: 15px;
}

.kanban-plugin__lane-wrapper .kanban-plugin__lane {
  border: 0 none;
  background-color: var(--bg3);
}

.kanban-plugin__lane-items {
  padding: 0 10px 0 !important;
}

.kanban-plugin__item-title-wrapper {
  padding: 12px 14px 15px;
}

.kanban-plugin__lane-items .kanban-plugin__item-wrapper {
  margin-top: 15px;
}

/* Dates in board items */
.kanban-plugin__item-metadata-date-relative,
.kanban-plugin__date,
.cm-kanban-time-wrapper,
.cm-kanban-date-wrapper {
  color: var(--highlight-quaternary);
  background-color: transparent !important;
  font-weight: bold;
  margin-top: 15px !important;
  display: flex;
  clear: left;
}

.kanban-plugin__item-metadata:not(:empty) {
  font-size: 100%;
}

/* Setting enabled: Prepend "Add a card" instead of append */

.kanban-plugin__lane.will-prepend {
  padding-bottom: 10px;
}