"*":
  "atom-material-ui":
    colors:
      abaseColor: "#2b2f38"
      accentColor: "#009688"
    fonts:
      fontSize: 18
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "bracket-matcher"
      "metrics"
      "spell-check"
      "wrap-guide"
      "deprecation-cop"
      "autosave"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 19
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showLineNumbers: false
    softWrap: true
    tabLength: 2
    tabType: "soft"
  "file-types":
    cfg: "source.shell"
    txt: "text.todotxt"
  "git-diff":
    showIconsInEditorGutter: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
".php.source":
  editor:
    tabLength: 4
".plain.text":
  editor:
    tabLength: 4
".python.source":
  editor:
    tabLength: 4
".source.vbs":
  editor:
    tabLength: 4
".text.md":
  editor:
    softWrapAtPreferredLineLength: true
".text.todotxt":
  editor:
    softWrapAtPreferredLineLength: true
