"*":
  "atom-clock":
    dateFormat: "h:mma"
    locale: "en-AU"
    showClockIcon: true
    showTooltip: true
    tooltipDateFormat: "ddd D MMM YYYY"
  "atom-material-ui":
    colors:
      abaseColor: "#2b2f38"
      accentColor: "#009688"
    fonts:
      fontSize: 18
    tabs:
      compactTabs: true
    treeView:
      blendTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    autoActivationDelay: 100
    scopeBlacklist: [
      ".md.text"
      ".text.todotxt"
      ".text.plain"
    ]
  core:
    allowPendingPaneItems: false
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "bracket-matcher"
      "metrics"
      "spell-check"
      "wrap-guide"
      "deprecation-cop"
      "autosave"
      "language-gfm"
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "rainglow"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "Fira Mono Regular"
    fontSize: 20
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showLineNumbers: false
    softWrap: true
    tabLength: 2
    tabType: "auto"
  "file-types":
    cfg: "source.shell"
    txt: "text.todotxt"
  "git-diff":
    showIconsInEditorGutter: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "php-cs-fixer":
    executablePath: "C:/Users/brendan.murty/AppData/Roaming/Composer/vendor/friendsofphp/php-cs-fixer/php-cs-fixer"
    phpExecutablePath: "C:/PHP/php.exe"
    rules: "@PSR2"
    showInfoNotifications: true
  rainglow:
    SelectSyntax: "rainbow-contrast-rainglow-syntax"
  tabs:
    displayMruTabList: false
    enableMruTabSwitching: false
    enableVcsColoring: true
  "tool-bar":
    iconSize: "32px"
    position: "Left"
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
".php.source":
  editor:
    tabLength: 4
".plain.text":
  editor:
    tabLength: 4
".python.source":
  editor:
    tabLength: 4
".source.vbs":
  editor:
    tabLength: 4
".text.md":
  editor:
    softWrapAtPreferredLineLength: true
".text.todotxt":
  editor:
    softWrapAtPreferredLineLength: true
