'packages': [
  'atom-clock'
  'atom-material-ui'
  'click-link'
  'docblockr'
  'file-icons'
  'file-types'
  'flex-tool-bar'
  'highlight-selected'
  'language-diff'
  'language-htaccess'
  'language-markdown'
  'language-todotxt'
  'language-vbscript'
  'markdown-pdf'
  'pinned-tabs'
  'php-cs-fixer'
  'pretty-json'
  'rainglow'
  'set-syntax'
  'symbol-gen'
  'tool-bar'
]
