'packages': [
  'atom-clock'
  'atom-material-ui'
  'docblockr'
  'file-icons'
  'file-types'
  'git-blame'
  'highlight-selected'
  'language-blade'
  'language-diff'
  'language-htaccess'
  'language-markdown'
  'language-powershell'
  'language-todotxt'
  'open-files'
  'pinned-tabs'
  'pretty-json'
  'rainglow'
  'set-syntax'
]
