# Copy this file to '.organise-photos.env', then update that file
PHOTOMGMT_SOURCE_DIR='/home/bob/Synced/Camera uploads'
PHOTOMGMT_DEST_DIR='/home/bob/Synced/Pictures/Archive'
PHOTOMGMT_ERROR_DIR='/home/bob/Synced/Pictures/Archive/00 Unsorted'
