# Instructions on how to get this value: https://github.com/jamalex/notion-py#quickstart
NOTION_TOKEN_V2="aaabbbccc"

# The Notion page URL of where the generated pages should be listed under
NOTION_IMPORT_PARENT_PAGE_URL="https://www.notion.so/aaa/Import-cccdddeee"
