# Instructions on how to get this value: https://github.com/jamalex/notion-py#quickstart
NOTION_TOKEN_V2=aaabbb

# The Notion page URL of where the generated pages should be listed under
NOTION_IMPORT_PARENT_PAGE_URL=https://notion.so/aaa/Import-cccdddeee
