/* App configuration and theme colours */

body {
  --link-external-color: #23c5b0;
  --highlight-primary: #23c5b0;
  --highlight-secondary: #ba8ef7;
  --highlight-tertiary: #5bec95;
  --highlight-quaternary: #ffa763;
  --h1-color: var(--highlight-primary) !important;
  --inline-title-color: var(--highlight-primary) !important;
  --h2-color: var(--highlight-secondary) !important;
  --h3-color: var(--highlight-tertiary) !important;
  --h4-color: var(--highlight-quaternary) !important;
  --h5-color: var(--highlight-quaternary) !important;
  --h6-color: var(--highlight-quaternary) !important;
  --checkbox-color: #666;
  --checklist-done-color: #666;
  --checklist-done-decoration: none;
  --metadata-label-width: 250px;
  --bold-color: var(--highlight-quaternary) !important;
  --italic-color: var(--highlight-quaternary) !important;
}

body.theme-dark {
  --color-base-00: #000;
}

body.theme-light {
  --color-base-00: #fff;
}

/* Fonts */

.workspace .markdown-source-view,
.workspace .markdown-preview-view,
.markdown-source-view.mod-cm6 .cm-scroller,
.kanban-plugin * {
  font-family: "MonoLisa", "Ubuntu", var(--font-default) !important;
}

.workspace-tab-header-inner,
.workspace-tab-header-inner-title {
  font-size: var(--font-ui-small) !important;
}

/* Layout */

/* Hide search suggestions */
.suggestion-container.mod-search-suggestion {
  display: none;
}

/* Hide instructions */
.prompt-instructions {
  display: none;
}

/* Hide vault name */
.nav-folder.mod-root>.nav-folder-title .nav-folder-title-content {
  display: none;
}


/* Main editor view */

.workspace-split.mod-root .view-content,
.kanban-plugin {
  background-color: var(--background-primary);
}

/* Code folding and line number columns */

.CodeMirror-gutter.CodeMirror-linenumbers,
.CodeMirror-gutter.CodeMirror-foldgutter {
  background-color: var(--background-primary);
}

/* Code folding indicators */

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
  line-height: 2;
}

.CodeMirror-foldgutter-open::after,
.CodeMirror-foldgutter-folded::after {
  color: #3fb4c5;
  font-family: sans-serif;
  font-size: 1em;
}

/* Inline code in the main editor view */

.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock {
  color: var(--highlight-primary);
}

/* Formatting indicator characters */

.cm-s-obsidian .cm-formatting {
  color: var(--highlight-secondary);
  font-weight: 400;
}

.cm-formatting .cm-hashtag,
.cm-formatting .list-bullet {
  color: transparent;
}

/* Internal links to other notes and external links */

.cm-s-obsidian .internal-link,
.cm-s-obsidian .cm-hmd-internal-link,
.kanban-plugin__item-markdown .internal-link,
.markdown-preview-view .internal-link,
.markdown-preview-view .external-link,
.cm-s-obsidian .cm-link,
.cm-s-obsidian .cm-url,
.cm-s-obsidian span.cm-link a {
  color: var(--link-color);
  text-decoration: none !important;
}

.external-link {
  background: none;
  padding-right: 0;
}

/* URL targets */

.cm-s-obsidian .cm-url {
  color: var(--highlight-secondary);
  text-decoration: none;
}

button:not(.clickable-icon) {
  box-shadow: none;
}

/* Property labels */

body {
  --metadata-label-width: 250px;
}

/* Fields */

input[type=checkbox]:checked {
  background-color: var(--highlight-primary);
  border-color: var(--highlight-primary);
}

/* Property labels */

body.is-mobile {
  --metadata-label-width: 210px;
}