/* Kanban boards */

body:not(.is-mobile) .kanban-plugin__lane-wrapper:not(.collapse-horizontal) {
  width: 550px !important;
}

body.is-mobile .kanban-plugin__lane-wrapper:not(.collapse-horizontal) {
  width: 330px !important;
}

.kanban-plugin__lane-header-wrapper {
  border-bottom: 0;
  padding: 3px 5px;
}

.kanban-plugin__grow-wrap>textarea {
  height: auto;
}

.kanban-plugin__markdown-preview-view>div>* {
  overflow-x: visible;
}

body .kanban-plugin__lane-items,
body .kanban-plugin__item-button-wrapper {
  background-color: transparent;
  border: 0 none;
}

body.is-mobile .kanban-plugin__lane-wrapper {
  /* Ensure there is enough space for the "Add a card" button on smaller screens */
  max-height: 90%;
}

/* Cards */

.kanban-plugin__item-button-wrapper {
  border: 0 none;
  padding: 0;
}

.kanban-plugin__item-button-wrapper button.kanban-plugin__new-item-button {
  color: var(--text-accent);
  cursor: pointer;
  border: 0 none;
  padding: 20px 0;
}

.kanban-plugin__item-button-wrapper .kanban-plugin__new-item-button:hover {
  color: #fff;
}

.kanban-plugin__item-button-plus {
  display: none;
}

.kanban-plugin__item-wrapper .kanban-plugin__item,
.kanban-plugin__lane-wrapper .kanban-plugin__lane-header-wrapper,
.kanban-plugin__lane-wrapper .kanban-plugin__item-button-wrapper {
  border: 0 none;
}

.kanban-plugin__item-wrapper .kanban-plugin__item,
.kanban-plugin__item-wrapper .kanban-plugin__item-content-wrapper,
.kanban-plugin__item-title-wrapper {
  background: var(--color-base-05) !important;
  border: 0 none;
}

.kanban-plugin__item-wrapper .kanban-plugin__item {
  border: 2px solid var(--color-base-20);
}

.kanban-plugin__item-wrapper .kanban-plugin__item-title-wrapper,
.kanban-plugin__item-title p {
  font-size: var(--color-white) !important;
}

/* Increase Kanban card spacing on mobile to make it easier to move cards around */
body.is-mobile .kanban-plugin__item-wrapper .kanban-plugin__item-title-wrapper {
  padding: 15px;
}

.kanban-plugin__lane-items {
  padding: 0 10px 10px !important;
}

.kanban-plugin__item-title-wrapper {
  padding: 12px 14px 15px;
}

.kanban-plugin__lane-items .kanban-plugin__item-wrapper {
  margin-top: 15px;
}

/* Tags in board items */
.kanban-plugin .kanban-plugin__markdown-preview-view a.tag {
  margin-top: 10px !important;
  padding: 8px 6px !important;
  display: flex;
  clear: left;
}

.kanban-plugin .kanban-plugin__markdown-preview-view a.tag:first-child {
  margin-top: 20px !important;
}

/* Dates in board items */
.kanban-plugin__item-metadata-date-relative,
.kanban-plugin__date,
.cm-kanban-time-wrapper,
.cm-kanban-date-wrapper {
  color: var(--highlight-quaternary);
  background-color: transparent !important;
  font-weight: bold;
  margin-top: 15px !important;
  display: flex;
  clear: left;
}

.kanban-plugin__item-metadata:not(:empty) {
  font-size: 100%;
}

/* Columns */

.kanban-plugin__lane-wrapper {
  background-color: transparent;
  border-radius: var(--input-radius);
  border: 1px solid var(--color-base-40);
}

.kanban-plugin__lane-wrapper .kanban-plugin__lane {
  border: 0 none;
  background-color: var(--bg3);
}

/* Make column headers larger */
.kanban-plugin__lane-title-text,
.kanban-plugin__lane-title-text .kanban-plugin__markdown-preview-view {
  font-size: 18px;
}

.kanban-plugin__lane-grip>svg {
  height: 18px;
}

/* Set column header colours based on their horizontal order */
.kanban-plugin__lane-wrapper:nth-child(1) .kanban-plugin__lane-title {
  color: var(--highlight-primary);
}

.kanban-plugin__lane-wrapper:nth-child(2) .kanban-plugin__lane-title {
  color: var(--highlight-secondary);
}

.kanban-plugin__lane-wrapper:nth-child(3) .kanban-plugin__lane-title {
  color: var(--highlight-tertiary);
}

.kanban-plugin__lane-wrapper:nth-child(4) .kanban-plugin__lane-title {
  color: var(--highlight-quaternary);
}

/* Board */

.kanban-plugin {
  background-color: var(--background-primary);
}