/* Tags */

.kanban-plugin__item-tags .kanban-plugin__item-tag,
.tag,
.cm-hashtag {
  background-color: #0E85CA !important;
  color: white !important;
  text-decoration: none !important;
  padding: 3px 8px !important;
  margin: 0 0 3px !important;
  border: none;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0 !important;
}

.kanban-plugin__item-tags:not(:empty) {
  padding-top: 0;
  margin-top: 10px;
}

.kanban-plugin__item-tags .kanban-plugin__item-tag {
  margin: 0 10px 10px 0 !important;
}

.cm-hashtag-begin {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.cm-hashtag-end {
  padding-left: 0 !important;
}

.tag[href^="#family"],
.tag[href^="#home"],
.cm-tag-family,
.cm-tag-home {
  background-color: #4d3ca6 !important;
}

.tag[href^="#work"],
.cm-tag-work,
span[class^="cm-tag-work"],
span[class*="cm-tag-work"],
.tag[href^="#code"],
.cm-tag-code,
span[class^="cm-tag-code"],
span[class*="cm-tag-code"],
.tag[href^="#career"],
.cm-tag-career {
  background-color: darkred !important;
}

span[class^="cm-tag-device"],
span[class*="cm-tag-device"],
.tag[href^="#device"],
.cm-tag-device {
  background-color: white !important;
  color: purple !important;
}

.tag[href^="#tech"],
.cm-tag-tech,
.tag[href^="#hardware"],
.cm-tag-hardware {
  background-color: purple !important;
  color: white !important;
}

.tag[href^="#personal"],
.cm-tag-personal,
.cm-tag-games,
.tag[href^="#games"],
span[class^="cm-tag-games"],
span[class*="cm-tag-games"] {
  background-color: #23c5b0 !important;
  color: #000 !important;
}

.tag[href^="#leisure"],
.tag[href^="#tv"],
.tag[href^="#movies"],
.tag[href^="#video"],
.cm-tag-leisure,
.cm-tag-tv,
.cm-tag-movies,
.cm-tag-video {
  background-color: #e6287f !important;
  color: #fff !important;
}

.tag[href^="#health"],
.tag[href^="#cooking"],
.cm-tag-health,
.cm-tag-cooking,
.tag[href^="#health"],
span[class^="cm-tag-health"],
span[class*="cm-tag-health"] {
  background-color: #e46300 !important;
  color: #fff !important;
}

.tag[href^="#money"],
.cm-tag-money {
  background-color: greenyellow !important;
  color: #000 !important;
}

.tag[href^="#context"],
.cm-tag-context {
  background-color: white !important;
  color: navy !important;
}

.tag[href^="#maybe"],
.cm-tag-maybe,
.tag[href^="#waiting"],
.cm-tag-waiting {
  background-color: #fff !important;
  color: red !important;
}

.tag[href^="#obsidian"],
.cm-tag-obsidian {
  background-color: #8b6cef !important;
  color: #fff !important;
}