# Local wired connection path looks like:
# SOURCE_DIR='/run/user/1234/gvfs/mtp:host=Supernote_Supernote_xxx_SN1234'

# Local Bottles app notes data path looks like:
# SOURCE_DIR='/run/user/1234/doc/1111a/bob/Supernote/drive_c/users/steamuser/AppData/Roaming/com.ratta/supernote_partner/5678/Supernote'

SOURCE_DIR='/home/bob/Synced/Supernote'

BACKUP_DIR='/home/bob/Synced/Backups/Supernote'
