;
; Service: Runs on user login
;   - Script in ExecStart must be exec enabled - chmod a+x /home/example/path/to/script.sh
;   - Update content here, then copy to "/etc/systemd/system"
;   - Then edit "backup-all-custom-daily.timer"
;
[Unit]
Description=Run user-backup.sh
[Service]
Type=oneshot
ExecStart=/home/bob/scripts/user-backup.sh
