#
#
# Custom Grub Config
#   - Editing this area of your system could make it not work properly
# 	- Assumes use in Ubuntu 26
#   - Run grub-setup.sh in this directory first
# 	- Make a backup of the current Grub Config file: sudo cp /etc/default/grub ~/grub-backup.txt
# 	- Then edit the Grub Config file: sudo vim /etc/default/grub
#   - Copy over the contents from this file
#   - Save the Grub Config file and quit Vim
#   - Apply the changes to Grub: sudo update-grub
#   - Next time your system boots, Grub will use the updated config
#
#

GRUB_SAVEDEFAULT=true
GRUB_DEFAULT=saved

GRUB_TIMEOUT_STYLE=menu
GRUB_TIMEOUT=30

GRUB_GFXMODE=3440x1440
GRUB_COLOR_NORMAL="white/black"
GRUB_COLOR_HIGHLIGHT="teal/black"

GRUB_DISTRIBUTOR=`( . /etc/os-release && echo ${PRETTY_NAME} )`
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash"
GRUB_CMDLINE_LINUX=""

GRUB_DISABLE_SUBMENU=true
