"*":
  "atom-clock":
    dateFormat: "h:mma"
    locale: "en-AU"
    showClockIcon: true
    showTooltip: true
    tooltipDateFormat: "ddd D MMM YYYY"
  "atom-material-ui":
    colors:
      abaseColor: "#2b2f38"
      accentColor: "#009688"
    fonts:
      fontSize: 20
    tabs:
      compactTabs: true
    treeView:
      blendTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    autoActivationDelay: 500
    scopeBlacklist: [
      ".md.text"
      ".text.todotxt"
      ".text.plain"
    ]
  blame:
    dateFormat: "YYYYMMDD"
    gutterFormat: "{author} {hash} {date}"
  core:
    allowPendingPaneItems: false
    audioBeep: false
    autoHideMenuBar: true
    customFileTypes:
      "source.shell": [
        "cfg"
        "config"
        "env"
      ]
      "text.todotxt": [
        "txt"
      ]
    disabledPackages: [
      "bracket-matcher"
      "metrics"
      "wrap-guide"
      "deprecation-cop"
      "autosave"
      "language-gfm"
      "whitespace"
      "background-tips"
      "exception-reporting"
      "notifications"
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "terminal-tab"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "murty-custom-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "MonoLisa"
    fontSize: 20
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showLineNumbers: true
    softWrap: true
    tabLength: 2
    tabType: "auto"
  "git-blame":
    colorCommitAuthors: true
    columnWidth: 450
    dateFormatString: "YYYYMMDD"
    showHash: true
    showLastNames: true
  "git-diff":
    showIconsInEditorGutter: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "pinned-tabs":
    visualstudio: {}
  tabs:
    displayMruTabList: false
    enableMruTabSwitching: false
    enableVcsColoring: true
  "terminal-tab":
    defaultLocation: "center"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".html.php.text":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
".md.text":
  editor:
    softWrapAtPreferredLineLength: true
".php.source":
  editor:
    tabLength: 4
".plain.text":
  editor:
    tabLength: 4
".python.source":
  editor:
    tabLength: 4
".text.todotxt":
  editor:
    softWrapAtPreferredLineLength: true
