'atom-workspace':
  'ctrl-alt-t': 'unset!'
  'ctrl-alt-shift-t': 'tool-bar:toggle'
  'ctrl-g': 'symbols-view:go-to-declaration'
  'ctrl-shift-g': 'symbols-view:return-from-declaration'
'.platform-darwin atom-text-editor':
  'cmd-g': 'symbols-view:go-to-declaration'
  'cmd-shift-g': 'symbols-view:return-from-declaration'
'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'