[Desktop Entry]
Name=Maestral
Comment=Dropbox sync client
Type=Application
Exec=/usr/bin/maestral gui
Hidden=false
NoDisplay=false
StartupNotify=false
Categories=AudioVideo
Keywords=dropbox;sync
X-GNOME-Autostart-enabled=true
PrefersNonDefaultGPU=false